<body>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <app-menu [sidenav]="sidenav" [isLoggedIn]="isLoggedIn" (logoutEvent)="logout()"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="home">
        <mat-toolbar color="primary" class="navbar">
          <span class="logo">InterCars</span>
          <span class="logo">
            <img src="car.jpg" width="15%" height="10%" alt="Logo" class="logo-icon" />
          </span>          
          <span class="spacer"></span>
          <button 
          mat-button 
            (click)="onToggleSidenav(sidenav)"
          class="menu-toggle-button">
          <mat-icon>menu</mat-icon>
        </button>
          <nav>
            <ul>
              <button mat-button routerLink="/home" class="nav-button">Főoldal</button>
              <button mat-button routerLink="/termekek" class="nav-button">Termékek</button>
              <button mat-button routerLink="/kosar" class="nav-button">Kosár</button>
              @if (isLoggedIn) {
                <button mat-button routerLink="/profile" class="nav-button">Profil</button>
                <button mat-button routerLink="/admin" class="nav-button">Admin</button>

              }
              @if (isLoggedIn) {
                <button mat-button routerLink="/login" class="nav-button" (click)="logout()">Kijelentkezés</button>
              }
    
    
              @if (!isLoggedIn) {
                <button mat-button routerLink="/login" class="nav-button">Bejelentkezés</button>
              }
    
              
            </ul>

          </nav>
        </mat-toolbar>
      </div>  
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>