<body>
    <div class="profile-container">
      <div class="profile-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Felhasználói fiók</mat-card-title>
          </mat-card-header>
  
          <mat-card-content>
            <div class="profile-info">
              <div class="avatar-container">
                <div class="avatar mat-elevation-z2">
                  {{ ProfileObject[selectedIndex]?.avatar }}
                </div>
              </div>
              <div class="user-details">
                <h3 class="user-name">
                  {{ userName }}
                </h3>
                <div class="user-email">
                  <mat-icon>email</mat-icon>
                  <span>{{ userEmail }}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="profile-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Rendelések</mat-card-title>
          </mat-card-header>
  
          <mat-card-content>
            <div *ngFor="let order of orders; let i = index" class="order">
              <p>Rendelés dátuma: {{ order.date | date:'short' }}</p>
            
              <ul>
                <li *ngFor="let item of order.items" class="order-item">
                  <img [src]="item.image" width="15%" alt="{{ item.name }}" class="order-item-image" />
                  <span>{{ item.name }} - {{ item.price }} Ft</span>
            
                  <!-- Ha szerkesztés alatt van ez a rendelés -->
                  <div *ngIf="editingOrderIndex === i">
                    <button (click)="decreaseItemQuantity(item)">-</button>
                    <span>{{ item.quantity }}</span>
                    <button (click)="increaseItemQuantity(item)">+</button>
                  </div>
                  <!-- Ha nem szerkesztés alatt van -->
                  <div *ngIf="editingOrderIndex !== i">
                    <span>{{ item.quantity }} db</span>
                  </div>
                </li>
              </ul>
            
              <!-- Gombok -->
              <div *ngIf="editingOrderIndex === i">
                <button (click)="saveEditedOrder(order)">Mentés</button>
                <button (click)="cancelEditing()">Mégse</button>
              </div>
              <div *ngIf="editingOrderIndex !== i">
                <button (click)="startEditing(i)">Módosítás</button>
                <button (click)="onDeleteOrder(order)">Törlés</button>
              </div>
            </div>
            
            <ng-template #noOrders>
              <p>Még nincs rendelésed.</p>
            </ng-template>
          </mat-card-content>
          
          
        </mat-card>
      </div>
  
  
      <div class="profile-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Beállítások</mat-card-title>
          </mat-card-header>
  
          <mat-card-content>
            <div class="profile-info">
              <div class="user-details">
                <h3 class="user-name">Fiók beállításai</h3>
                <div class="user-email">
                  <mat-icon>settings</mat-icon>
                  <span>Még nincs</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </body>
  <footer>
    <div class="footer-content">
        <div class="contact-info">
            <h3>Kapcsolat</h3>
            <p><strong>Telefon:</strong> +36 00 000 0000</p>
            <p><strong>Email:</strong> info&#64;webshop.hu</p>
        </div>
       
    </div>
  </footer>
  